.hero{
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1{
    font-size:40px;
    color:white;
    font-family: var(--font-main);
    margin-bottom: 12px;
    
}
.hero p{
    font-size:15px;
    color:white;
    font-family: var(--font-main);
    margin-bottom: 35px;
}
.hero a{
    background-color: white;
    color:var(--color-primary);
    width: 150px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-main);
}

span{
    color:#FBBF24
}

.cta-button:hover{
    background-color: var(--color-secondary);
    color:white;
}
